@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif, Arial, Inter, system-ui, Avenir, Helvetica;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.premium-button {
  position: relative;
  z-index: 2;
}

.premium-button::before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  background: radial-gradient(circle at 50% 50%,gold,magenta);
  filter: blur(26px);
  z-index: -1;
}

.blur-bg {
  backdrop-filter: blur(24px);
}

div,
p,
img {
  user-select: none;
}

body {
  margin: 0;
  user-select: none;
  background: url('https://as1.ftcdn.net/v2/jpg/02/98/36/64/1000_F_298366478_95ulqYSXZD0M1W1XmL5NttWqINXM31W3.jpg');
  background-size: contain;
  background-attachment: fixed;
}

* {
  outline: none !important;
}

* {
  cursor: none !important;
}

#cursor {
  pointer-events: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  filter: invert(100%) drop-shadow(0px 0px 4px #000);
  position: fixed;
  z-index: 1000;
  transform: translate(0%, 0%) rotate(-200deg);
}

.scroll-down-anim {
  animation: 1.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite alternate hover;
}

.notistack-SnackbarContainer {
  position: sticky;
  bottom: 10px;
  left: 10px;
}

.grow-animation {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: white;
  animation: 1s linear infinite grow;
}

@keyframes hover {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(50%);
  }
}

@keyframes grow {
  0% {
    opacity: 0.1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}